<div class="row container mt-4">
<div class="col-3">
<hr>
<ul class="list-group">
<a class="list-group-item" routerLink =""
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}"
        >Buscar Por Pais</a>
   <a class="list-group-item" routerLink ="/region" routerLinkActive="active"> Buscar por Region</a>
    <a routerLink ="/capital" class="list-group-item" routerLinkActive="active" >Buscar Por Capital</a>
   
</ul>
</div>

<div class="col">
  
    <hr>
    <router-outlet></router-outlet>
</div>

</div>